 body{
  background-color: #3b1a00;
}
#fire-container {
  position: relative;
  text-align: center;
  z-index: 1;
}
#fire {
  width: 100%;
  height: 51dvi;
}
#fire-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  animation: floatUpAndDisappear 8s linear forwards;
}
@keyframes floatUpAndDisappear {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -120%) scale(1.5);
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  #fire-text {
    font-size: 30px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  #fire-text {
    font-size: 40px;
  }
}
#kontainer {
  text-align: left;
  position: absolute;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 100000px) and (min-width: 1200px) {
  #kontainer {
    text-align: left;
    position: absolute;
    top: 59%;
    left: 55%;
    padding-left: 270px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    z-index: 2;
  }
}
@media only screen and (max-width: 600px) {
  #kontainer {
    text-align: left;
    position: absolute;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  }
}
.npc {
  text-align: left;
  margin-right: 20px;
}
.dialogue-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  max-width: 100%;
}
#Eldrystandialogue {
  font-family: "Medieval02", serif;
}
.dialogue {
  color: #000000;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  max-width: 400px;
}
.button-container {
  font-family: "Medieval02", serif;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dialogue-button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#nextButtonEldrystan {
  background-color: #4caf50;
  color: white;
}
#prevButtonEldrystan {
  background-color: #2196f3;
  color: white;
}
@media only screen and (max-width: 600px) {
  .dialogue {
    max-width: 100%;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
  }
  .dialogue-button {
    margin: 5px 0;
  }
}
.loader {
  width: 44.8px;
  height: 44.8px;
  position: absolute;
  top: 93%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 2;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(
    circle 11.2px at 50% 50%,
    #0000 94%,
    #ffffff
  );
}
.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}
@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  .loader {
    width: 44.8px;
    height: 44.8px;
    top: 80%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .loader {
    width: 44.8px;
    height: 44.8px;
    top: 93%;
  }
}